body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
span{
    color: red;
}
h1{
    font-size: 50px;
}
.flexible{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    
    
    
}
.div-width{
    width: 50%;
    margin-left: 20px;
    padding: 5%;
}
.div-width img{
    width: 60%;
}

a{
    background-image: linear-gradient(orange,gray);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.flexible-middle{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
p{
    font-size: 20px;
}
.exp-last{
    display: flex;
}
footer{
    color: goldenrod;
    text-align: center;
    font-size: 20px;
    background-color: black;
    padding: 10px;
}
.head{
    margin-left: 80px;
}
.last-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.exp-div{
    box-shadow: 10px 10px 8px #b31919;
    /* border-left: 10px solid; */
    margin: 20px;

}
